.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightgoldenrodyellow;
        position: relative;
        top: 70px;
        // adjust scroll behavior to be smooth, not instant
        scroll-behavior: smooth;
        // apply scroll-snap on y-axis
        scroll-snap-type: y mandatory;

        // hide the scroll bar for aesthetic purposes
        // firefox
        scrollbar-width: none;
        // and other browsers too!
        &::-webkit-scrollbar{
            display: none;
        }

        // for each element in the section
        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            // scroll snap to the start of each section
            scroll-snap-align: start 
        }
    }
}